# Advanced Querying Mongo

Importing libraries and setting up connection

In [23]:
from pymongo import MongoClient
import pandas as pd

In [45]:
cursor=MongoClient('mongodb://localhost:27017')

db=cursor.companies

companies = db.coleccion

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [48]:
# Your Code

query={'name': 'Babelgum'}

select = {'_id' : 0, 'name': 1}

list(companies.find(query, select))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [59]:
# Your Code:

query={'number_of_employees':{'$gt':5000}}

select={'_id':0,'name':1}
       
list(companies.find(query,select).sort('number_of_employees',-1).limit(20))

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'},
 {'name': 'Sony'},
 {'name': 'LG'},
 {'name': 'Ford'},
 {'name': 'Boeing'},
 {'name': 'Digital Equipment Corporation'},
 {'name': 'Nokia'},
 {'name': 'MItsubishi Electric'},
 {'name': 'MItsubishi Electric'},
 {'name': 'Comcast'},
 {'name': 'Bertelsmann'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [67]:
# Your Code:
query={'founded_year':{'$gt':1999,
                       '$lte':2006}}
select={'_id':0,'name':1,'founded_year':1}

list(companies.find(query,select).limit(5))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [76]:
# Your Code:
query={"ipo.valuation_amount": {"$gt": 100000000}, "founded_year": {"$lt": 2010}}

select={'_id':0,"name": 1, "ipo.valuation_amount": 1}

list(companies.find(query,select).limit(5))

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [131]:
# Your Code:

query={'number_of_employees':{'$lt':1000},
       'founded_year':{'$lt':2006}}
select={'_id':0,'name':1,'number_of_employees':1}

list(companies.find(query,select).sort('number_of_employees',-1).limit(10))

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Workday', 'number_of_employees': 900},
 {'name': 'Cornerstone OnDemand', 'number_of_employees': 881},
 {'name': 'Mozilla', 'number_of_employees': 800}]

### 6. All the companies that don't include the `partners` field.

In [103]:
# Your Code:

query={"partners": { "$ne": 0}}
select={'_id':0,'name':1}

list(companies.find(query,select).limit(5))

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [98]:
# Your Code:

query={'category_code':{'$ne' : 'Null'}}
select={'_id':0,'name':1}

list(companies.find(query,select).limit(5))

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [108]:
# Your Code:
query={'number_of_employees':{'$gt':100,
                              '$lt' :1000}}
select={'_id':0,'name':1,'number_of_employes':1}

list(companies.find(query,select).limit(5))

[{'name': 'AdventNet'},
 {'name': 'AddThis'},
 {'name': 'OpenX'},
 {'name': 'LifeLock'},
 {'name': 'Jajah'}]

### 9. Order all the companies by their IPO price in a descending order.

In [124]:
# Your Code:
query={'ipo.valuation_amount':{'$ne':True}}
select={'_id':0,'name':1}

list(companies.find(query,select).sort('ipo.valuation_amount',-1).limit(5))

[{'name': 'GREE'},
 {'name': 'Facebook'},
 {'name': 'Amazon'},
 {'name': 'Twitter'},
 {'name': 'Groupon'}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [134]:
# Your Code

query={'number_of_employees':{'$ne':1}}
select={'_id':0,'name':1}

list(companies.find(query,select).sort('number_of_employees',-1).limit(10))

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [139]:
# Your Code:

query={'founded_month':{'$gte':7,
                       '$lte':12}}
select={'_id':0,'name':1}

list(companies.find(query,select).limit(10))  #DeberÃ­a poner 1000 para ver las primeras 1000, pero asi no os peta ðŸ˜‰

[{'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Omnidrive'},
 {'name': 'eBay'},
 {'name': 'Joost'},
 {'name': 'Plaxo'},
 {'name': 'Powerset'},
 {'name': 'Kyte'},
 {'name': 'Thoof'}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [141]:
# Your Code:
query={'founded_year':{'$lt':2000},'acquisition.price_amount':{'$gt':10000000}}
select={'_id':0,'name':1}

list(companies.find(query,select).limit(5))

[{'name': 'Postini'},
 {'name': 'SideStep'},
 {'name': 'Recipezaar'},
 {'name': 'PayPal'},
 {'name': 'Snapfish'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [147]:
# Your Code:

query= {'acquisition.acquired_year':{'$gt':2010}}
select={'_id':0,'name':1,'acquisition.price_amount':1}

list(companies.find(query,select).limit(5))

[{'name': 'Wetpaint', 'acquisition': {'price_amount': 30000000}},
 {'name': 'Digg', 'acquisition': {'price_amount': 500000}},
 {'name': 'Geni', 'acquisition': {'price_amount': None}},
 {'name': 'Kyte', 'acquisition': {'price_amount': None}},
 {'name': 'Jingle Networks', 'acquisition': {'price_amount': 62500000}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [150]:
# Your Code:

query={'founded_year':{'$ne':1}}
select={'_id':0,'name':1,'founded_year':1}

list(companies.find(query,select).sort('founded_year',-1).limit(5))

[{'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [152]:
# Your Code:

query={'founded_day':{'$lte':7}}
select={'_id':0,'name':1,'acquisition.price_amount':1}

list(companies.find(query,select).sort('acquisition.price_amount',-1).limit(10))

[{'name': 'Netscape', 'acquisition': {'price_amount': 4200000000.0}},
 {'name': 'PayPal', 'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos', 'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba', 'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini', 'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger', 'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems', 'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense', 'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee', 'acquisition': {'price_amount': 321000000}},
 {'name': 'BlueLithium', 'acquisition': {'price_amount': 300000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [153]:
# Your Code:

query={"category_code": "web",'number_of_employees':{'$gt':4000}}
select={'_id':0,'name':1,'number_of_employees':1}

list(companies.find(query,select).sort('number_of_employees',1).limit(5))

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Rakuten', 'number_of_employees': 10000}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [155]:
# Your Code:

query={'acquisition.price_amount':{'$gt':10000000},'acquisition.price_currency_code':{'$ne':'EUR'}}
select={'_id':0,'name':1,'acquisition.price_amount':1}

list(companies.find(query,select).limit(5))

[{'name': 'Wetpaint', 'acquisition': {'price_amount': 30000000}},
 {'name': 'Postini', 'acquisition': {'price_amount': 625000000}},
 {'name': 'Flektor', 'acquisition': {'price_amount': 20000000}},
 {'name': 'StumbleUpon', 'acquisition': {'price_amount': 29000000}},
 {'name': 'Lala', 'acquisition': {'price_amount': 80000000}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [165]:
# Your Code:

query={'acquisition.acquired_month':{'$gte':1,'$lte':3}}
select={'_id':0,'name':1,'acquisition.acquired_month':1}

list(companies.find(query,select).limit(10))

[{'name': 'Kyte', 'acquisition': {'acquired_month': 1}},
 {'name': 'NetRatings', 'acquisition': {'acquired_month': 2}},
 {'name': 'blogTV', 'acquisition': {'acquired_month': 3}},
 {'name': 'Livestream', 'acquisition': {'acquired_month': 1}},
 {'name': 'iContact', 'acquisition': {'acquired_month': 2}},
 {'name': 'Coghead', 'acquisition': {'acquired_month': 2}},
 {'name': 'Dailymotion', 'acquisition': {'acquired_month': 2}},
 {'name': 'Netvibes', 'acquisition': {'acquired_month': 2}},
 {'name': 'Flickr', 'acquisition': {'acquired_month': 3}},
 {'name': 'BabyCenter', 'acquisition': {'acquired_month': 3}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [167]:
# Your Code:

query={'founded_year':{'$gte':2000,'$lte':2010}}
select={'_id':0,'name':1}

list(companies.find(query,select).limit(5))

[{'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [170]:
# Your Code:

query={'deadpooled_year':{'$lte':3}}
select={'_id':0,'name':1,'deadpooled_year':1}

list(companies.find(query,select))

[{'name': 'Wetpaint', 'deadpooled_year': 1},
 {'name': 'AdventNet', 'deadpooled_year': 2},
 {'name': 'Zoho', 'deadpooled_year': 3}]