# Advanced Querying Mongo

Importing libraries and setting up connection

In [ ]:
# from pymongo import MongoClient
# client = MongoClient("")

In [2]:
%pip install pymongo

Collecting pymongo
  Obtaining dependency information for pymongo from https://files.pythonhosted.org/packages/de/67/949da6f882723be8ca8ef63678d7f999b4d9c235c656c0376ea8b6c041d6/pymongo-4.5.0-cp311-cp311-macosx_10_9_universal2.whl.metadata
  Downloading pymongo-4.5.0-cp311-cp311-macosx_10_9_universal2.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Obtaining dependency information for dnspython<3.0.0,>=1.16.0 from https://files.pythonhosted.org/packages/f6/b4/0a9bee52c50f226a3cbfb54263d02bb421c7f2adc136520729c2c689c1e5/dnspython-2.4.2-py3-none-any.whl.metadata
  Using cached dnspython-2.4.2-py3-none-any.whl.metadata (4.9 kB)
Downloading pymongo-4.5.0-cp311-cp311-macosx_10_9_universal2.whl (529 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 529.4/529.4 kB 1.8 MB/s eta 0:00:00a 0:00:01m
Using cached dnspython-2.4.2-py3-none-any.whl (300 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.5.0
Note: you may need to restart the kernel to use updated packages.

In [14]:
from pymongo import MongoClient
import pandas as pd
import re

In [2]:
cursor=MongoClient()   

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
str_conn='mongodb://localhost:27017'  

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [7]:
cursor.list_database_names()

['admin', 'companies', 'config', 'local', 'nueva_db']

In [8]:
database = cursor.companies

In [10]:
collec = database.collection

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [17]:
# Your Code

#query
query={'name': {'$regex': '(?i)babelgum'}}

#select
select = {'_id': 0, 'name': 1} #remove id or use id =1 if we want to see the id of that company 

#result
res1 =collec.find(query, select)

list(res1)

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [49]:
# Your Code

#query
query={'number_of_employees': {'$gt': 5000}}

#select
select = {'_id': 1, 'name': 1, 'number_of_employees': 1} 

#result
res2 = collec.find(query, select).sort('number_of_employees', -1).limit(20)

list(res2)[0:5]

[{'_id': ObjectId('52cdef7d4bab8bd67529941a'),
  'name': 'Siemens',
  'number_of_employees': 405000},
 {'_id': ObjectId('52cdef7c4bab8bd67529856a'),
  'name': 'IBM',
  'number_of_employees': 388000},
 {'_id': ObjectId('52cdef7d4bab8bd675299d33'),
  'name': 'Toyota',
  'number_of_employees': 320000},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'),
  'name': 'PayPal',
  'number_of_employees': 300000},
 {'_id': ObjectId('52cdef7e4bab8bd67529b0fe'),
  'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [23]:
# Your Code

#query
query={'$and': [{'founded_year': {'$lt': 2005}},
                {'founded_year': {'$gt': 2000}}]}

#select
select = {'_id': 0, 'name': 1, 'founded_year': 1} 

#result
res3 = collec.find(query, select)

list(res3)[0:5]

[{'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Plaxo', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [44]:
# Your Code

#query
query={'$and': [{'founded_year': {'$lt': 2010}},
                {'ipo.valuation_amount': {'$gt': 100000000}}]}

#select
select = {'_id': 0, 'name': 1, 'ipo': 1} 

#result
res4 =collec.find(query, select)

list(res4)[0:2]

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [57]:
# Your Code

#query
query= {'$and': [{'number_of_employees': {'$lt': 1000}},{'founded_year' : {'$lt': 2005}}]}
                
#select
select = {'_id': 0, 'name': 1, 'founded_year': 1, 'number_of_employees': 1} 

#result
res5 = collec.find(query, select).sort('number_of_employees', -1).limit(10)

list(res5)[0:2]

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997}]

### 6. All the companies that don't include the `partners` field.

In [66]:
# Your Code

#query
query= {'partners': False}
                
#select
select = {'_id': 0, 'name': 1}

#result
res6 = collec.find(query, select)

list(res6)[0:10]

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [67]:
# Your Code

#query
query= {'category_code': None}
                
#select
select = {'_id': 0, 'name': 1}

#result
res7 = collec.find(query, select)

list(res7)[0:5]

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [68]:
# Your Code

#query
query= {'$and':[{'number_of_employees':{'$gt': 100}},{'number_of_employees':{'$lt': 1000}}]}
                
#select
select = {'_id': 0, 'name': 1, 'number_of_employees': 1 }

#result
res8 = collec.find(query, select)

list(res8)[0:5]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [70]:
# Your Code

#query
query= {'ipo': {'$ne': None }}
                
#select
select = {'_id': 0, 'name': 1, 'ipo.valuation_amount': 1 }

#result
res9 = collec.find(query, select).sort('ipo.valuation_amount', -1)

list(res9)[0:10]

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000.0}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000.0}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000.0}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000.0}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000.0}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000.0}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000.0}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code