# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient

import pandas as pd
str_conn='mongodb://localhost:27017'
cursor = MongoClient(str_conn)

In [2]:
db = cursor.companies
collection = db.coleccion

In [3]:
cursor.list_database_names()

['admin', 'companies', 'config', 'local']

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [4]:
query = {'name':'Babelgum'}
select = {'_id': 0, 'name': 1}
list(collection.find(query,select))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [5]:
query = {'number_of_employees':{'$gt':5000}}
select = {'_id':0, 'name':1,'number_of_employees':1}
list(collection.find(query,select).limit (20))

[{'name': 'Facebook', 'number_of_employees': 5299},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Cisco', 'number_of_employees': 63000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'Google', 'number_of_employees': 28000},
 {'name': 'Intel', 'number_of_employees': 86300},
 {'name': 'Nintendo', 'number_of_employees': 5080},
 {'name': 'Adobe Systems', 'number_of_employees': 7173},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'The Walt Disney Company', 'number_of_employees': 25000},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Sun Microsystems', 'number_of_employees': 33350},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Microsoft', 'number_of_employees': 90000},
 {'name': 'Apple', 'number_of_employees': 80000},
 {'name': 'NetApp', 'number_of_employees': 8000},
 {'name': 'Motorola Solutions', 'number_of_employees': 51000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [6]:
query = {'$and':[{'founded_year':{'$gte':2000}},
                {'founded_year':{'$lte':2005}}]}
select = {'_id':0, 'name':1,'founded_year':1}

list(collection.find(query,select).limit(10))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [7]:
query = {'$and':[{'ipo.valuation_amount':{'$gt':100000000}},
                {'founded_year':{'$lt':2010}}]}
select = {'_id':0, 'name':1,'ipo.valuation_amount':1}

list(collection.find(query,select).limit(10))

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}},
 {'name': 'Brightcove', 'ipo': {'valuation_amount': 290000000}},
 {'name': 'KIT digital', 'ipo': {'valuation_amount': 235000000}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'OpenTable', 'ipo': {'valuation_amount': 1050000000}},
 {'name': 'ChannelAdvisor', 'ipo': {'valuation_amount': 287000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [8]:
query = {'$and':[{'number_of_employees':{'$lt':1000}},
                {'founded_year':{'$lt':2005}}]}
select = {'_id':0, 'name':1,'number_of_employees':1}

list(collection.find(query,select).sort('number_of_employees',-1).limit(10))

[{'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'Cornerstone OnDemand', 'number_of_employees': 881},
 {'name': 'Mozilla', 'number_of_employees': 800},
 {'name': 'Buongiorno', 'number_of_employees': 800},
 {'name': 'Yelp', 'number_of_employees': 800}]

### 6. All the companies that don't include the `partners` field.

In [9]:
query = {'partners': {'$exists': 0}}
select = {'_id':0, 'name':1,'number_of_employees':1}

list(collection.find(query,select))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [10]:
query = {'category_code': None}
select = {'_id':0, 'name':1}

list(collection.find(query,select).limit(10))

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [11]:
query = {'$and':[{'number_of_employees':{'$gte':100}},
                {'number_of_employees':{'$lt':1000}}]}
select = {'_id':0, 'name':1,'number_of_employees':1}

list(collection.find(query,select).limit(10))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [12]:
query = {}
select = {'_id':0, 'name':1,'ipo.price':1}

list(collection.find(query,select).sort('ipo.price',1).limit(10))

[{'name': 'Flektor'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Facebook', 'ipo': {}},
 {'name': 'Geni'},
 {'name': 'Omnidrive'},
 {'name': 'Digg'},
 {'name': 'AdventNet'},
 {'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Postini'}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [25]:
query = {}
select = {'_id':0, 'name':1,'number_of_employees':1}

list(collection.find(query,select).sort('number_of_employees',-1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [26]:
query = {'founded_month':{'$gte':6}}
select = {'_id':0, 'name':1}

list(collection.find(query,select).limit(10))

[{'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Fox Interactive Media'},
 {'name': 'eBay'},
 {'name': 'Joost'},
 {'name': 'Plaxo'}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [28]:
query = {'$and':[{'acquisition.price_amount':{'$gt':10000}},
                {'founded_year':{'$lt':2000}}]}
select = {'_id':0, 'name':1,'acquisition.price_amount':1}

list(collection.find(query,select).limit(10))

[{'name': 'Postini', 'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep', 'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar', 'acquisition': {'price_amount': 25000000}},
 {'name': 'Cyworld', 'acquisition': {'price_amount': 7140000}},
 {'name': 'PayPal', 'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish', 'acquisition': {'price_amount': 300000000}},
 {'name': 'Neopets', 'acquisition': {'price_amount': 160000000}},
 {'name': 'Sun Microsystems', 'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Zappos', 'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba', 'acquisition': {'price_amount': 1000000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [30]:
query = {'acquisition.acquired_year':{'$gt':2010}}
                
select = {'_id':0, 'name':1,'acquisition.price_amount':1,'acquisition.acquired_year':1}

list(collection.find(query,select).sort('acquisition.price_amount',-1).limit(10))

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000.0, 'acquired_year': 2011}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000.0, 'acquired_year': 2011}},
 {'name': 'LSI',
  'acquisition': {'price_amount': 6600000000.0, 'acquired_year': 2013}},
 {'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000.0, 'acquired_year': 2011}},
 {'name': 'Ariba',
  'acquisition': {'price_amount': 4300000000.0, 'acquired_year': 2012}},
 {'name': 'NetLogic Microsystems',
  'acquisition': {'price_amount': 3700000000.0, 'acquired_year': 2011}},
 {'name': 'SuccessFactors',
  'acquisition': {'price_amount': 3400000000.0, 'acquired_year': 2012}},
 {'name': 'Qualcomm Atheros',
  'acquisition': {'price_amount': 3100000000.0, 'acquired_year': 2011}},
 {'name': 'Global Crossing',
  'acquisition': {'price_amount': 3000000000.0, 'acquired_year': 2011}},
 {'name': 'Global Crossing',
  'acquisition': {'price_amount': 3000000000.0, 'acquired_year': 2011}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [34]:
query = {}
select = {'_id':0, 'name':1,'founded_year':1}

list(collection.find(query,select).sort('founded_year',-1).limit(10))

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [40]:
query = {'founded_day':{'$lte':7}}
select = {'_id':0, 'name':1,'founded_day':1}

list(collection.find(query,select).sort('acquisition.price_amount',1).limit(10))

[{'name': 'eBay', 'founded_day': 1},
 {'name': 'Joost', 'founded_day': 1},
 {'name': 'Fox Interactive Media', 'founded_day': 1},
 {'name': 'Geni', 'founded_day': 1},
 {'name': 'Facebook', 'founded_day': 1},
 {'name': 'Omnidrive', 'founded_day': 1},
 {'name': 'Technorati', 'founded_day': 1},
 {'name': 'Yahoo!', 'founded_day': 1},
 {'name': 'Babelgum', 'founded_day': 1},
 {'name': 'Gizmoz', 'founded_day': 1}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [45]:
query = {'$and':[{'category_code':'web'},
                {'number_of_employees':{'$gt':4000}}]}
select = {'_id':0, 'name':1,'number_of_employees':1}

list(collection.find(query,select).sort('number_of_employees',-1).limit(10))

[{'name': 'Experian', 'number_of_employees': 15500},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Expedia', 'number_of_employees': 4400}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [47]:
query = {'$and':[{'acquisition.price_amount':{'$gt':10000000}},
                {'acquisition.price_currency_code':'EUR'}]}
select = {'_id':0, 'name':1,'acquisition.price_amount':1}

list(collection.find(query,select).limit(10))

[{'name': 'ZYB', 'acquisition': {'price_amount': 31500000}},
 {'name': 'Apertio', 'acquisition': {'price_amount': 140000000}},
 {'name': 'Greenfield Online', 'acquisition': {'price_amount': 40000000}},
 {'name': 'Webedia', 'acquisition': {'price_amount': 70000000}},
 {'name': 'Wayfinder', 'acquisition': {'price_amount': 24000000}},
 {'name': 'Tuenti Technologies', 'acquisition': {'price_amount': 70000000}},
 {'name': 'BioMed Central', 'acquisition': {'price_amount': 43400000}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [48]:
query = {'acquisition.acquired_month':{'$lte':3}}
select = {'_id':0, 'name':1,'acquisition.acquired_month':1 }

list(collection.find(query,select).limit(10))

[{'name': 'Kyte', 'acquisition': {'acquired_month': 1}},
 {'name': 'NetRatings', 'acquisition': {'acquired_month': 2}},
 {'name': 'blogTV', 'acquisition': {'acquired_month': 3}},
 {'name': 'Livestream', 'acquisition': {'acquired_month': 1}},
 {'name': 'iContact', 'acquisition': {'acquired_month': 2}},
 {'name': 'Coghead', 'acquisition': {'acquired_month': 2}},
 {'name': 'Dailymotion', 'acquisition': {'acquired_month': 2}},
 {'name': 'Netvibes', 'acquisition': {'acquired_month': 2}},
 {'name': 'Flickr', 'acquisition': {'acquired_month': 3}},
 {'name': 'BabyCenter', 'acquisition': {'acquired_month': 3}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [22]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [23]:
# Your Code