# Advanced Querying Mongo

Importing libraries and setting up connection

In [ ]:
%pip install pymongo

In [ ]:
from pymongo import MongoClient
import pymongo
import pandas as pd

In [ ]:
cursor = MongoClient()
str_conn = 'mongodb://localhost:27017'
cursor = MongoClient(str_conn)
db = cursor.Companies 
colec = db.Collection

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [ ]:
# Your Code
query = {'name': 'Babelgum'}
select = {'_id': False, 'name': 1}
result = list(colec.find(query, select))
result

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
# Your Code
query={'number_of_employees': {'$gt': 5000}} 
select= {'_id': 0, 'name': 1, 'number_of_employees' : 1}
result = list(colec.find(query, select).limit(20))
result

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [ ]:
# Your Code
query = {'$and': [{'founded_year': {'$lte': 2005}},{'founded_year': {'$gte': 2000}}]}
select = {'_id':False, 'name': 1, 'founded_year':1}
list(colec.find(query,select).limit(20))

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
# Your Code
query = {'$and': [{'ipo.valuation_amount': {'$gt': 100000000}}, {'founded_year': {'$lt': 2010}}]}
select = {'_id': False, 'name': 1, 'ipo': 1}
result = list(colec.find(query, select))
print(result)

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
# Your Code
query = {"number_of_employees": {'$lt': 1e3},'founded_year': {'$lt': 2005}}
select = {'_id':False, 'name': 1, "number_of_employees": 1} 
list(colec.find(query, select).sort('number_of_employees', -1).limit(10))

### 6. All the companies that don't include the `partners` field.

In [ ]:
# Your Code
query = {'partners': {'$exists': False}}
select = {'_id': False, 'name': 1, 'ipo': 1}
result = list(colec.find(query, select))
result

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
# Your Code
query = {"category_code": None}
select = {'_id':False, 'name': 1, "category_code" : 1} 
list(colec.find(query, select).limit(5))

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
# Your Code
query = {'$and': [{'number_of_employees': {'$gte': 100}}, {'number_of_employees': {'$lt': 1000}}]}
select = {'_id': False, 'name': 1, 'number_of_employees': 1}
result = list(colec.find(query, select))
result

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# Your Code
query = {}
select = {'_id': False, 'name': 1, 'ipo': 1}
result = list(colec.find(query, select).sort('ipo.valuation_amount', -1))
result

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code
query = {"number_of_employees": {'$ne': True}}
select = {'_id':False, 'name': 1, "number_of_employees": 1} 
list(colec.find(query, select).sort("number_of_employees", -1).limit(10))

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code
query={'$and': [{'founded_month': {'$lte': 12}},
                {'founded_month': {'$gte': 6}}]}
                
select= {'_id': 0, 'name': 1}
result = list(colec.find(query, select).limit(10))
result

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code
query = {'$and': [{'founded_year': {'$lt': 2000}},
                  {'acquisition.price_amount': {'$gt': 10_000_000}}
                 ]}

select = {'_id': False, 'name':1, 'founded': 1, 'acquisition.price_amount': 1}
list(colec.find(query, select).limit(10))

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code
query = {'acquisition.acquired_year': {'$gt': 2010}}
select = {'_id': False, 'name': 1, 'acquisition': 1}
result = list(colec.find(query, select).sort('acquisition.price_amount', -1))
result

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code
query={}
select={'name': True, 'founded_year': True, '_id': 0}
list(colec.find(query, select).limit(10))

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code
query={'founded_day': {'$lte': 7}}
select= {'_id': 0, 'name': 1, 'founded_day':1, 'price_amount':1}
result = list(colec.find(query, select).sort('price_amount', -1).limit(10))
result

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code
query = {"category_code": "web", "number_of_employees": {'$gt': 4000}}
select = {'_id':False, 'name': 1, "number_of_employees": 1} 
list(colec.find(query, select).sort("number_of_employees", -1).limit(10))

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code
query = {'$and':[{'acquisition.price_amount': {'$gte':10_000_000}}, {'acquisition.price_currency_code': 'EUR'}]}
select = {'_id':False, 'name':True, 'acquisition.price_currency_code':True, 'acquisition.price_amount':True}
list(colec.find(query, select).sort('acquisition.price_amount',-1))

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code
query = {'acquisition.acquired_month': {'$lte':3}}
select = {'_id':False, 'name':True, 'acquisition.acquired_month':True}
list(colec.find(query, select).limit(10))

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code