# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
%pip install pymongo

Requirement already satisfied: pymongo in /Users/sarapazopadron/anaconda3/lib/python3.11/site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/sarapazopadron/anaconda3/lib/python3.11/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [3]:
client.list_database_names()

['admin', 'companies', 'config', 'local']

In [4]:
db = client.companies   # a la base de datos la he llamado companies

In [5]:
coleccion = db['coleccion']  # a la colección la he llamado 'coleccion'.

query = {'name': 'Babelgum'}
select = {'name': 1, '_id': 0}

res = list(coleccion.find(query, select))
res

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [26]:
# db = client['companies']
# collection = db['coleccion]

query = {'number_of_employees': {'$gt': 5000}}
select = {'name': 1, '_id': 0, 'number_of_employees':1 }

result = coleccion.find(query, select).limit(20)
list(result)

[{'name': 'Facebook', 'number_of_employees': 5299},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Cisco', 'number_of_employees': 63000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'Google', 'number_of_employees': 28000},
 {'name': 'Intel', 'number_of_employees': 86300},
 {'name': 'Nintendo', 'number_of_employees': 5080},
 {'name': 'Adobe Systems', 'number_of_employees': 7173},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'The Walt Disney Company', 'number_of_employees': 25000},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Sun Microsystems', 'number_of_employees': 33350},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Microsoft', 'number_of_employees': 90000},
 {'name': 'Apple', 'number_of_employees': 80000},
 {'name': 'NetApp', 'number_of_employees': 8000},
 {'name': 'Motorola Solutions', 'number_of_employees': 51000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [7]:
query = {'founded_year': {'$gte': 2000, '$lte': 2005}}
select = {'name': 1, '_id': 0, 'founded_year':1 }

result = coleccion.find(query, select).limit(5)
list(result)

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [8]:
query = {'$and': [{'founded_year': {'$lte': 2010}}, {'ipo.valuation_amount': {'$gt': 100000000}}]}
select = {'name': 1, '_id': 0, 'ipo.valuation_amount':1}

result = coleccion.find(query, select).limit(5)
list(result)

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [28]:
query = {'$and': [{'number_of_employees': {'$lt': 1000}}, {'founded_year': {'$lt': 2005}}]}
select = {'name': 1, '_id': 0, 'number_of_employees':1, 'founded_year': 1}


result = coleccion.find(query, select).sort('number_of_employees').limit(10)
list(result)

[{'name': 'Fox Interactive Media',
  'number_of_employees': 0,
  'founded_year': 1979},
 {'name': 'Ticketmaster', 'number_of_employees': 0, 'founded_year': 1976},
 {'name': 'Eurekster', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'MindTouch', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Skype', 'number_of_employees': 0, 'founded_year': 2003},
 {'name': 'Monster', 'number_of_employees': 0, 'founded_year': 1994},
 {'name': 'EditGrid', 'number_of_employees': 0, 'founded_year': 2003},
 {'name': 'Simpy', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Compete', 'number_of_employees': 0, 'founded_year': 2000},
 {'name': 'stylediary', 'number_of_employees': 0, 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [10]:
query = {'$nor': [{'partners': {'$gte': 1}}]}
select = {'name': 1, '_id': 0, 'partners': 1} 

result = coleccion.find(query, select).limit(10)
list(result)

[{'name': 'Wetpaint', 'partners': []},
 {'name': 'AdventNet', 'partners': []},
 {'name': 'Zoho', 'partners': []},
 {'name': 'Digg', 'partners': []},
 {'name': 'Facebook', 'partners': []},
 {'name': 'Omnidrive', 'partners': []},
 {'name': 'Postini', 'partners': []},
 {'name': 'Geni', 'partners': []},
 {'name': 'Flektor', 'partners': []},
 {'name': 'Fox Interactive Media', 'partners': []}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [11]:
query = {'category_code': {'$type': 'null'}}
select = {'name': 1, '_id': 0 }

result = coleccion.find(query, select).limit(10)
list(result)

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [29]:
query = {'number_of_employees': {'$gte': 100, '$lte': 1000}}
select = {'name': 1, '_id': 0, 'number_of_employees':1 }

result = coleccion.find(query, select).limit(10)
list(result)

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [13]:
query = {}
select = {'name': 1, 'ipo.valuation_amount': 1, '_id': 0 }

result = coleccion.find(query, select).sort('ipo.valuation_amount', -1).limit(10)
list(result)

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000.0}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000.0}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000.0}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000.0}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000.0}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000.0}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000.0}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [14]:
query = {}
select = {'name': 1, '_id': 0, 'number_of_employees':1 }

result = coleccion.find(query, select).sort('number_of_employees', -1).limit(10)
list(result)

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [15]:
query = {'founded_month': {'$gte': 6}}
select = {'name': 1, '_id': 0, 'founded_month':1 }

result = coleccion.find(query, select).sort('founded_month').limit(10)

list(result)

[{'name': 'Geni', 'founded_month': 6},
 {'name': 'Postini', 'founded_month': 6},
 {'name': 'Technorati', 'founded_month': 6},
 {'name': 'Fox Interactive Media', 'founded_month': 6},
 {'name': 'Sparter', 'founded_month': 6},
 {'name': 'TVtrip', 'founded_month': 6},
 {'name': 'TripHub', 'founded_month': 6},
 {'name': 'Topix', 'founded_month': 6},
 {'name': 'AllofMP3', 'founded_month': 6},
 {'name': 'Pownce', 'founded_month': 6}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [30]:
query = {'$and': [{'founded_year': {'$lt': 2000}}, {'acquisition.price_amount': {'$gt': 10000000}}]}
select = {'name': 1, '_id': 0, 'founded_year':1, 'acquisition.price_amount':1 }

result = coleccion.find(query, select).limit(10)

list(result)

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}},
 {'name': 'Neopets',
  'founded_year': 1999,
  'acquisition': {'price_amount': 160000000}},
 {'name': 'Sun Microsystems',
  'founded_year': 1982,
  'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Zappos',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Sabre',
  'founded_year': 1960,
  'acquisition': {'price_amount': 4300000000.0}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [17]:
query = {'acquisition.acquired_year': {'$gt': 2010}}
select = {'name': 1, '_id': 0, 'acquisition.acquired_year':1, 'acquisition.price_amount':1 }

result = coleccion.find(query, select).sort('acquisition.price_amount', 1).limit(10)

list(result)

[{'name': 'blogTV',
  'acquisition': {'price_amount': None, 'acquired_year': 2013}},
 {'name': 'KickApps',
  'acquisition': {'price_amount': None, 'acquired_year': 2012}},
 {'name': 'Geni',
  'acquisition': {'price_amount': None, 'acquired_year': 2012}},
 {'name': 'delicious',
  'acquisition': {'price_amount': None, 'acquired_year': 2011}},
 {'name': 'Kyte',
  'acquisition': {'price_amount': None, 'acquired_year': 2011}},
 {'name': 'adBrite',
  'acquisition': {'price_amount': None, 'acquired_year': 2013}},
 {'name': 'Dogster',
  'acquisition': {'price_amount': None, 'acquired_year': 2011}},
 {'name': 'Netvibes',
  'acquisition': {'price_amount': None, 'acquired_year': 2012}},
 {'name': 'Instructables',
  'acquisition': {'price_amount': None, 'acquired_year': 2011}},
 {'name': 'Mashery',
  'acquisition': {'price_amount': None, 'acquired_year': 2013}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [18]:
query = {}
select = {'name': 1, '_id': 0, 'founded_year':1 }

result = coleccion.find(query, select).sort('founded_year', -1).limit(10) 

#lo he ordenado del último en fundarse al primero
list(result)

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [19]:
query = {'founded_day': {'$lte': 7}}
select = {'name': 1, '_id': 0, 'founded_day':1, 'acquisition.price_amount':1 }

result = coleccion.find(query, select).sort('acquisition.price_amount', -1).limit(10) 

list(result)

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000.0}},
 {'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_day': 1,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger',
  'founded_day': 1,
  'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems',
  'founded_day': 6,
  'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense',
  'founded_day': 1,
  'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee',
  'founded_day': 1,
  'acquisition': {'price_amount': 321000000}},
 {'name': 'Vitrue',
  'founded_day': 1,
  'acquisition': {'price_amount': 300000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [20]:
query = {'$and': [{'category_code': 'web'}, {'number_of_employees': {'$gt': 4000}}]}

select = {'name': 1, '_id': 0, 'number_of_employees':1}

result = coleccion.find(query, select).sort('number_of_employees', 1).limit(10) 

list(result)

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Experian', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [21]:
query = {'$and': [{'acquisition.price_amount': {'$gt': 10000000}}, {'acquisition.price_currency_code': 'EUR'}]}

select = {'name': 1, '_id': 0, 'acquisition.price_amount':1, 'acquisition.price_currency_code':1 }

result = coleccion.find(query, select).limit(10) 

list(result)

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [22]:
query = {'acquisition.acquired_month': {'$lte': 4}}
select = {'name': 1, '_id': 0, 'acquisition.acquired_month':1}

result = coleccion.find(query, select).limit(10)

list(result)

[{'name': 'StumbleUpon', 'acquisition': {'acquired_month': 4}},
 {'name': 'Kyte', 'acquisition': {'acquired_month': 1}},
 {'name': 'Veoh', 'acquisition': {'acquired_month': 4}},
 {'name': 'Jingle Networks', 'acquisition': {'acquired_month': 4}},
 {'name': 'NetRatings', 'acquisition': {'acquired_month': 2}},
 {'name': 'blogTV', 'acquisition': {'acquired_month': 3}},
 {'name': 'Livestream', 'acquisition': {'acquired_month': 1}},
 {'name': 'delicious', 'acquisition': {'acquired_month': 4}},
 {'name': 'Jobster', 'acquisition': {'acquired_month': 4}},
 {'name': 'Spock', 'acquisition': {'acquired_month': 4}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [23]:
query = {'$and': [{'founded_year': {'$gte': 2000}}, {'founded_year': {'$lte': 2010}},
                  {'acquisition.acquired_year':{'$gte': 2011}}]}

select = {'name': 1, '_id': 0, 'founded_year':1, 'acquired_year':1}


result = coleccion.find(query, select).limit(10)

list(result)

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Geni', 'founded_year': 2006},
 {'name': 'Kyte', 'founded_year': 2006},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'blogTV', 'founded_year': 2006},
 {'name': 'delicious', 'founded_year': 2003},
 {'name': 'Revision3', 'founded_year': 2005},
 {'name': 'iContact', 'founded_year': 2003},
 {'name': 'Mashery', 'founded_year': 2006}]

### 20. All the companies that have been 'deadpooled' after the third year.