# Advanced Querying Mongo

Importing libraries and setting up connection

In [22]:
# from pymongo import MongoClient
# client = MongoClient("")

%pip install pymongo
from pymongo import MongoClient
cursor=MongoClient()

Requirement already satisfied: pymongo in /Users/yaninafontana/anaconda3/lib/python3.11/site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/yaninafontana/anaconda3/lib/python3.11/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [37]:
# Your Code

db = cursor.companies
collection = db.coleccion


query = {"name": "Babelgum"}

res = collection.find(query, {"name": 1, "_id": 0})

list(res)

[{'name': 'Babelgum'}]

In [41]:
db = cursor.companies
collection = db.coleccion


query = {"name": "Babelgum"}

res = collection.find(query, {"name": 1, "_id": 0})


for company in res:
    print(company["name"])

'Babelgum'

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [51]:
# Your Code

query = {"number_of_employees": {"$gt": 5000}}

res = collection.find(query, {"name": 1, 
                              "number_of_employees": 1,
                              "_id": 0}).limit(20).sort("number_of_employees", 1)

list(res)

[{'name': 'Nintendo', 'number_of_employees': 5080},
 {'name': 'Hexaware Technologies', 'number_of_employees': 5200},
 {'name': 'Facebook', 'number_of_employees': 5299},
 {'name': 'OpenText', 'number_of_employees': 5300},
 {'name': 'LSI', 'number_of_employees': 5400},
 {'name': 'CPM Braxis', 'number_of_employees': 5400},
 {'name': 'Microchip Technologies', 'number_of_employees': 5500},
 {'name': 'Mediaset', 'number_of_employees': 5729},
 {'name': 'Mindray Medical International', 'number_of_employees': 5763},
 {'name': 'Baidu', 'number_of_employees': 6000},
 {'name': 'Dentsu', 'number_of_employees': 6000},
 {'name': 'Tata Communications', 'number_of_employees': 6000},
 {'name': 'Atmel', 'number_of_employees': 6000},
 {'name': 'Acxiom', 'number_of_employees': 6200},
 {'name': 'Acxiom', 'number_of_employees': 6200},
 {'name': 'SRA International', 'number_of_employees': 6400},
 {'name': "Moody's", 'number_of_employees': 6800},
 {'name': 'ManTech', 'number_of_employees': 7000},
 {'name': 'Adobe Systems', 'number_of_employees': 7173},
 {'name': 'Broadcom', 'number_of_employees': 7400}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [55]:
# Your Code
query = {'$and': [{"founded_year": {'$lte': 2005}},
                {"founded_year": {'$gte': 2000}}]}


res = collection.find(query, {"name": 1, 
                              "founded_year":1,
                              "_id": 0}).limit(20)
list(res)

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002},
 {'name': 'AddThis', 'founded_year': 2004},
 {'name': 'Veoh', 'founded_year': 2004},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'Meetup', 'founded_year': 2002},
 {'name': 'LifeLock', 'founded_year': 2005},
 {'name': 'Wesabe', 'founded_year': 2005},
 {'name': 'Jangl SMS', 'founded_year': 2005},
 {'name': 'SmugMug', 'founded_year': 2002},
 {'name': 'Jajah', 'founded_year': 2005},
 {'name': 'Skype', 'founded_year': 2003}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [118]:
query = {
    "ipo.valuation_amount": {"$gt": 100000000},
    "founded_year": {"$lt": 2010}
}
        

res = collection.find(query, {"name": 1, 
                              "ipo.valuation_amount": 1,
                              "_id": 0}).limit(3)
list(res)

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [61]:
# Your Code
query = {
    "number_of_employees": {"$lt": 1000},
    "founded_year": {"$lt": 2005}
}
        

res = collection.find(query, {"name": 1, 
                              "number_of_employees": 1,
                              "founded_year":1,
                              "_id": 0}).limit(10).sort("number_of_employees", 1)
list(res)

[{'name': 'Fox Interactive Media',
  'number_of_employees': 0,
  'founded_year': 1979},
 {'name': 'Ticketmaster', 'number_of_employees': 0, 'founded_year': 1976},
 {'name': 'Eurekster', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'MindTouch', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Skype', 'number_of_employees': 0, 'founded_year': 2003},
 {'name': 'Monster', 'number_of_employees': 0, 'founded_year': 1994},
 {'name': 'EditGrid', 'number_of_employees': 0, 'founded_year': 2003},
 {'name': 'Simpy', 'number_of_employees': 0, 'founded_year': 2004},
 {'name': 'Compete', 'number_of_employees': 0, 'founded_year': 2000},
 {'name': 'stylediary', 'number_of_employees': 0, 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [65]:
# Your Code

query = {
    "partners": {"$exists": False}
}

res = collection.find(query).limit(5)

list(res)

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [72]:
# Your Code

query = {"category_code": None}

res = collection.find(query).limit(1)

list(res)

[{'_id': ObjectId('52cdef7c4bab8bd6752980f6'),
  'name': 'Collective',
  'permalink': 'collective',
  'crunchbase_url': 'http://www.crunchbase.com/company/collective',
  'homepage_url': None,
  'blog_url': None,
  'blog_feed_url': None,
  'twitter_username': None,
  'category_code': None,
  'number_of_employees': None,
  'founded_year': None,
  'founded_month': None,
  'founded_day': None,
  'deadpooled_year': None,
  'deadpooled_month': None,
  'deadpooled_day': None,
  'deadpooled_url': None,
  'tag_list': None,
  'alias_list': None,
  'email_address': None,
  'phone_number': None,
  'description': None,
  'created_at': 'Thu Sep 26 13:15:02 UTC 2013',
  'updated_at': 'Thu Sep 26 13:15:02 UTC 2013',
  'overview': None,
  'image': None,
  'products': [],
  'relationships': [],
  'competitions': [],
  'providerships': [],
  'total_money_raised': '$0',
  'funding_rounds': [],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]

In [71]:
# Your Code

query = {"category_code": None}

res = collection.find(query, {"name": 1, 
                              "category_code": 1,
                              "_id": 0}).limit(10)

list(res)

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None},
 {'name': 'Drigg', 'category_code': None},
 {'name': 'SpaceTime', 'category_code': None},
 {'name': 'Touch Clarity', 'category_code': None},
 {'name': 'MMDAYS', 'category_code': None},
 {'name': 'Inside Group', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [74]:
# Your Code

query = {'$and': [{"number_of_employees": {'$lte': 1000}},
                {"number_of_employees": {'$gte': 100}}]}


res = collection.find(query, {"name": 1, 
                              "number_of_employees":1,
                              "_id": 0}).limit(20)
list(res)

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120},
 {'name': 'RockYou', 'number_of_employees': 106},
 {'name': 'Meebo', 'number_of_employees': 200},
 {'name': 'Eventbrite', 'number_of_employees': 200},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'Conduit', 'number_of_employees': 215},
 {'name': 'Redfin', 'number_of_employees': 100},
 {'name': 'oDesk', 'number_of_employees': 120},
 {'name': 'Simply Hired', 'number_of_employees': 100},
 {'name': 'PhotoBox', 'number_of_employees': 600},
 {'name': 'Spreadshirt', 'number_of_employees': 230}]

### 9. Order all the companies by their IPO price in a descending order.

In [80]:
# Your Code

query = {"ipo.valuation_amount": {'$gte': 0}}


res = collection.find(query, {"name": 1, 
                              "ipo.valuation_amount":1,
                              "_id": 0}).limit(20).sort("ipo.valuation_amount", -1)


list(res)

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000.0}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000.0}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000.0}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000.0}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000.0}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000.0}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000.0}},
 {'name': 'Baidu', 'ipo': {'valuation_amount': 4000000000.0}},
 {'name': 'TripAdvisor', 'ipo': {'valuation_amount': 3273770000.0}},
 {'name': 'HomeAway', 'ipo': {'valuation_amount': 3000000000.0}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000.0}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'RPX Corporation', 'ipo': {'valuation_amount': 1096000000}},
 {'name': 'Higher One', 'ipo': {'valuation_amount': 1060000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [82]:
# Your Code

query = {"number_of_employees": {'$gte': 0}}


res = collection.find(query, {"name": 1, 
                              "number_of_employees":1,
                              "_id": 0}).limit(10).sort("number_of_employees", -1)


list(res)

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [86]:
# Your Code

query = {'$and': [{"founded_month": {'$lte': 12}},
                {"founded_month": {'$gte': 7}}]}


res = collection.find(query, {"name": 1, 
                              "founded_month":1,
                              "_id": 0}).limit(10)


list(res)

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11},
 {'name': 'Powerset', 'founded_month': 10},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.000

In [115]:
# Your Code   

query = {'$and': [{'founded_year': {'$lt': 2000}},
                  {'acquisition.price_amount': {'$gt': 10000000}}
                 ]}
        

res = collection.find(query, {"name": 1, 
                              "acquisition.price_amount": 1,
                              "founded_year": 1, 
                              "_id": 0}).limit(10)
list(res)

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}},
 {'name': 'Neopets',
  'founded_year': 1999,
  'acquisition': {'price_amount': 160000000}},
 {'name': 'Sun Microsystems',
  'founded_year': 1982,
  'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Zappos',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Sabre',
  'founded_year': 1960,
  'acquisition': {'price_amount': 4300000000.0}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [117]:
# Your Code

query = {"acquisition.acquired_year": {"$gt": 2010}}


res = collection.find(query, {"name": 1, 
                              "acquisition.acquired_year": 1,
                              "_id": 0}).limit(5).sort("acquisition.price_amount", -1)

list(res)

[{'name': 'T-Mobile', 'acquisition': {'acquired_year': 2011}},
 {'name': 'Goodrich Corporation', 'acquisition': {'acquired_year': 2011}},
 {'name': 'LSI', 'acquisition': {'acquired_year': 2013}},
 {'name': 'National Semiconductor', 'acquisition': {'acquired_year': 2011}},
 {'name': 'Ariba', 'acquisition': {'acquired_year': 2012}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [105]:
# Your Code

query = {"founded_year": {'$gte': 0}}


res = collection.find(query, {"name": 1, 
                              "founded_year":1,
                              "_id": 0}).limit(30).sort("founded_year", 1)


list(res)

[{'name': 'Alstrasoft', 'founded_year': 1800},
 {'name': 'SmallWorlds', 'founded_year': 1800},
 {'name': 'US Army', 'founded_year': 1800},
 {'name': 'DuPont', 'founded_year': 1802},
 {'name': 'McKesson', 'founded_year': 1833},
 {'name': 'Bachmann Industries', 'founded_year': 1833},
 {'name': 'Bertelsmann', 'founded_year': 1835},
 {'name': 'Accuity', 'founded_year': 1836},
 {'name': 'CENTRA', 'founded_year': 1839},
 {'name': 'VideoSurf', 'founded_year': 1840},
 {'name': 'WeGame', 'founded_year': 1840},
 {'name': 'VideoSurf', 'founded_year': 1840},
 {'name': 'The Economist Group', 'founded_year': 1843},
 {'name': 'Pearson', 'founded_year': 1844},
 {'name': 'Associated Press', 'founded_year': 1846},
 {'name': 'Beloit College', 'founded_year': 1846},
 {'name': 'Stiefel', 'founded_year': 1847},
 {'name': 'Siemens', 'founded_year': 1847},
 {'name': 'Pfizer', 'founded_year': 1848},
 {'name': 'Nykredit Realkredit', 'founded_year': 1851},
 {'name': 'Corning', 'founded_year': 1851},
 {'name': 'Leucadia National', 'founded_year': 1854},
 {'name': 'Louis Vuitton', 'founded_year': 1854},
 {'name': 'The McClatchy Company', 'founded_year': 1857},
 {'name': 'University of Washington', 'founded_year': 1861},
 {'name': 'Athenix', 'founded_year': 1863},
 {'name': 'Cornell University', 'founded_year': 1865},
 {'name': 'Nokia', 'founded_year': 1865},
 {'name': 'Millage, Inc', 'founded_year': 1867},
 {'name': 'Scotts Miracle-Gro', 'founded_year': 1868}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [107]:
# Your Code


query = {'$and': [{"founded_day": {'$lte': 7}},
                {"founded_day": {'$gte': 1}}]}


res = collection.find(query, {"name": 1, 
                              "founded_day":1,
                              "acquisition.price_amount":1, 
                              "_id": 0}).limit(10).sort("acquisition.price_amount", -1)


list(res)

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000.0}},
 {'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_day': 1,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger',
  'founded_day': 1,
  'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems',
  'founded_day': 6,
  'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense',
  'founded_day': 1,
  'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee',
  'founded_day': 1,
  'acquisition': {'price_amount': 321000000}},
 {'name': 'Vitrue',
  'founded_day': 1,
  'acquisition': {'price_amount': 300000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [112]:
# Your Code

query = {'$and': [{"number_of_employees": {"$gt": 4000}},
                  {'category_code': 'web'}]}

res = collection.find(query, {"name": 1, 
                              "number_of_employees": 1,
                              "category_code": 1, 
                              "_id": 0}).limit(20).sort("number_of_employees", 1)

list(res)

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [114]:
# Your Code

query = {'$and': [{'acquisition.price_currency_code': "EUR"},
                  {'acquisition.price_amount': {'$gt': 10000000}}
                 ]}
        

res = collection.find(query, {"name": 1, 
                              "acquisition.price_amount": 1,
                              'acquisition.price_currency_code': 1, 
                              "_id": 0}).limit(10)
list(res)

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [116]:
# Your Code

query = {'$and': [{"acquisition.acquired_month": {'$lte': 3}},
                {"acquisition.acquired_month": {'$gte': 1}}]}
        

res = collection.find(query, {"name": 1, 
                              "acquisition.acquired_month": 1, 
                              "_id": 0}).limit(10)


list(res)

[{'name': 'Kyte', 'acquisition': {'acquired_month': 1}},
 {'name': 'NetRatings', 'acquisition': {'acquired_month': 2}},
 {'name': 'blogTV', 'acquisition': {'acquired_month': 3}},
 {'name': 'Livestream', 'acquisition': {'acquired_month': 1}},
 {'name': 'iContact', 'acquisition': {'acquired_month': 2}},
 {'name': 'Coghead', 'acquisition': {'acquired_month': 2}},
 {'name': 'Dailymotion', 'acquisition': {'acquired_month': 2}},
 {'name': 'Netvibes', 'acquisition': {'acquired_month': 2}},
 {'name': 'Flickr', 'acquisition': {'acquired_month': 3}},
 {'name': 'BabyCenter', 'acquisition': {'acquired_month': 3}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [20]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [21]:
# Your Code