# Advanced Querying Mongo

Importing libraries and setting up connection

In [52]:
#%pip install pymongo

In [53]:
str_conn = 'mongodb://localhost:27017'   # str_con por defecto

In [54]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [55]:
client.list_database_names()

['admin', 'companies', 'config', 'local']

In [56]:
db = client["companies"]

In [57]:
db.list_collection_names()

['colección']

In [58]:
client.list_database_names()

['admin', 'companies', 'config', 'local']

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [59]:
db = client["companies"]

In [60]:
db.list_collection_names()

['colección']

In [67]:
collection = db["colección"]

In [68]:
query = {"name": "Babelgum"}
select = {"name": 1, "_id": 0 }
result = list(collection.find(query, select))
result

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [76]:
query = {"number_of_employees": { "$gte": 5000 }}
select = {"name": 1, "_id": 0, "number_of_employees": 1}
result = list(collection.find(query, select).sort("number_of_employees", -1 ).limit(20))
result

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000},
 {'name': 'Comcast', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [81]:
query = {"founded_year": { "$gte": 2000, "$lte": 2005 }}
select = {"name": 1, "_id": 0, "founded_year": 1}
result = list(collection.find(query, select).limit(5))
result

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [89]:
query = {"$and": [{"ipo.valuation_amount": { "$gte": 100000000 }},
                   {"founded_year": { "$lte": 2010 }}
                 ]}
select = {"name": 1, "_id": 0, "ipo.valuation_amount": 1}
result = list(collection.find(query, select).sort("ipo.valuation_amount", -1 ).limit(5))
result

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000.0}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000.0}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [90]:
query = {"$and": [{"number_of_employees": { "$lte": 1000 }},
                   {"founded_year": { "$lte": 2005 }}
                 ]}
select = {"name": 1, "_id": 0, "number_of_employees": 1, "founded_year": 1}
result = list(collection.find(query, select).sort("number_of_employees", -1 ).limit(10))
result

[{'name': 'Omniture', 'number_of_employees': 1000, 'founded_year': 1996},
 {'name': 'Telenav', 'number_of_employees': 1000, 'founded_year': 1999},
 {'name': 'Gumtree', 'number_of_employees': 1000, 'founded_year': 2005},
 {'name': 'SK Net Service Company Ltd',
  'number_of_employees': 1000,
  'founded_year': 2001},
 {'name': 'Yodle', 'number_of_employees': 1000, 'founded_year': 2005},
 {'name': "OC'LIANE", 'number_of_employees': 1000, 'founded_year': 2003},
 {'name': 'FANUC Robotics America',
  'number_of_employees': 1000,
  'founded_year': 1982},
 {'name': 'Antal International',
  'number_of_employees': 1000,
  'founded_year': 1993},
 {'name': 'Sonus Networks', 'number_of_employees': 1000, 'founded_year': 1997},
 {'name': 'Akamai Technologies',
  'number_of_employees': 1000,
  'founded_year': 1998}]

### 6. All the companies that don't include the `partners` field.

In [129]:
query = {"$nor": [{"partners": {"$gte": 1}}]}
select = {"name": 1, "_id": 0, "partners": 1,}
result = list(collection.find(query, select).limit(5))
result

[{'name': 'Wetpaint', 'partners': []},
 {'name': 'AdventNet', 'partners': []},
 {'name': 'Zoho', 'partners': []},
 {'name': 'Digg', 'partners': []},
 {'name': 'Facebook', 'partners': []}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [130]:
query = {"category_code": None}
select = {"name": 1, "_id": 0, "category_code": 1}
result = list(collection.find(query, select).limit(5))
result

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [97]:
query = {"number_of_employees": { "$gte": 100, "$lte": 1000}}
select = {"name": 1, "_id": 0}
result = list(collection.find(query, select).sort("number_of_employees", -1 ).limit(5))
result

[{'name': 'Omniture'},
 {'name': 'Telenav'},
 {'name': 'Akamai Technologies'},
 {'name': 'Sonus Networks'},
 {'name': 'Yodle'}]

### 9. Order all the companies by their IPO price in a descending order.

In [110]:
query = {}
select = {"name": 1, "_id": 0, "ipo.valuation_amount": 1}
result = list(collection.find(query, select).sort("ipo.valuation_amount", -1 ).limit(5))
result

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000.0}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000.0}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [111]:
query = {}
select = {"name": 1, "_id": 0}
result = list(collection.find(query, select).sort("number_of_employees", -1).limit(10))
result

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [117]:
query = {"founded_month": { "$gte": 7}}
select = {"name": 1, "_id": 0, "founded_month": 1}
result = list(collection.find(query, select).sort("founded_month", -1).limit(5))
result

[{'name': 'Kyte', 'founded_month': 12},
 {'name': 'blinkx', 'founded_month': 12},
 {'name': 'Ikan', 'founded_month': 12},
 {'name': 'Wesabe', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [126]:
query = {"$and": [{"founded_year": { "$lt": 2000 }},
                   {"acquisition.price_amount": { "$gt": 10000 }}
                 ]}
select = {"name": 1, "_id": 0, "founded_year": 1, "acquisition.price_amount": 1}
result = list(collection.find(query, select).sort("acquisition.price_amount", -1 ).limit(5))
result

[{'name': 'BEA Systems',
  'founded_year': 1995,
  'acquisition': {'price_amount': 8500000000.0}},
 {'name': 'Navteq',
  'founded_year': 1985,
  'acquisition': {'price_amount': 8100000000.0}},
 {'name': 'Sun Microsystems',
  'founded_year': 1982,
  'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Pixar',
  'founded_year': 1986,
  'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'LSI',
  'founded_year': 1980,
  'acquisition': {'price_amount': 6600000000.0}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [125]:
query = {"acquisition.acquired_year": { "$gt": 2010 }}
select = {"name": 1, "_id": 0, "acquisition": 1}
result = list(collection.find(query, select).sort("acquisition.price_amount", -1 ).limit(5))
result

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000.0,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000.0,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html',
   'source_description': 'UTC shells out $18.4 billion for Goodrich',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 22,
   'acquiring_company': {'name': 'United Technologies',
    'permalink': 'united-technologies'}}},
 {'name': 'LSI',
  'acquisition': {'price_amount': 6600000000.0,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://dealbook.nytimes.com/2013/12/16/avago-to-buy-lsi-for-6-6-billion/?_r=0',
   'source_description': 'Avago to Buy LSI for $6.6 Billion',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Avago Technologies',
    'permalink': 'avago-technologies'}}},
 {'name': 'National Semiconductor',
  'acquisition': {'price_amount': 6500000000.0,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.national.com/news/item/0,1735,1522,00.html',
   'source_description': 'TI to acquire National Semiconductor Complementary portfolios are foundation for growth',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 4,
   'acquiring_company': {'name': 'Texas Instruments',
    'permalink': 'texas-instruments'}}},
 {'name': 'Ariba',
  'acquisition': {'price_amount': 4300000000.0,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/05/22/sap-to-acquire-ariba-for-4-3-billion/',
   'source_description': 'SAP To Acquire Ariba For $4.3 Billion',
   'acquired_year': 2012,
   'acquired_month': 5,
   'acquired_day': 22,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [121]:
query = {}
select = {"name": 1, "_id": 0, "founded_year": 1}
result = list(collection.find(query, select).sort("founded_year", -1 ).limit(5))
result

[{'name': 'Fixya', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [131]:
query = {"acquisition.acquired_day": { "$lte": 7 }}
select = {"name": 1, "_id": 0, "founded_year": 1, "acquisition.acquired_day": 1,"acquisition.price_amount": 1}
result = list(collection.find(query, select).sort("acquisition.price_amount", -1 ).limit(10))
result

[{'name': 'National Semiconductor',
  'founded_year': 1959,
  'acquisition': {'price_amount': 6500000000.0, 'acquired_day': 4}},
 {'name': 'The Weather Channel',
  'founded_year': 1982,
  'acquisition': {'price_amount': 3500000000.0, 'acquired_day': 7}},
 {'name': 'Macromedia',
  'founded_year': 1992,
  'acquisition': {'price_amount': 3400000000.0, 'acquired_day': 3}},
 {'name': 'Interactive Data',
  'founded_year': None,
  'acquisition': {'price_amount': 3400000000.0, 'acquired_day': 4}},
 {'name': 'Qualcomm Atheros',
  'founded_year': 1998,
  'acquisition': {'price_amount': 3100000000.0, 'acquired_day': 5}},
 {'name': 'ExactTarget',
  'founded_year': 2000,
  'acquisition': {'price_amount': 2500000000.0, 'acquired_day': 4}},
 {'name': 'Quest Software',
  'founded_year': None,
  'acquisition': {'price_amount': 2400000000.0, 'acquired_day': 2}},
 {'name': 'Legent Corporation',
  'founded_year': None,
  'acquisition': {'price_amount': 1740000000, 'acquired_day': 1}},
 {'name': 'Digital Insight',
  'founded_year': None,
  'acquisition': {'price_amount': 1650000000, 'acquired_day': 2}},
 {'name': 'Equallogic',
  'founded_year': 1984,
  'acquisition': {'price_amount': 1400000000, 'acquired_day': 5}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [132]:
query = {'$and':[{"category_code": "web"},
                  {"number_of_employees": {"$gt": 4000}}]}
select = {"name": 1, "_id": 0, "category_code": 1, "number_of_employees": 1}
result = list(collection.find(query, select).sort("number_of_employees", 1 ).limit(5))
result

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [133]:
query = {'$and':[{"acquisition.price_amount": {"$gt": 10e7}},
                  {"acquisition.price_currency_code": "EUR"}]}
select = {"name": 1, "_id": 0, "acquisition.price_amount": 1, "acquisition.price_currency_code": 1}
result = list(collection.find(query, select).sort("acquisition.price_amount", -1 ).limit(5))
result

[{'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [135]:
query = {"acquisition.acquired_month": {"$lte": 3}}
select = {"name": 1, "_id": 0, "acquisition": 1}
result = list(collection.find(query, select).limit(5))
result

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'name': 'iContact',
  'acquisition': {'price_amount': 169000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2012/02/28/vocus-buys-email-marketing-company-icontact-for-169-million/',
   'source_description': 'Vocus Buys Email Marketing Company iContact For $169 Million',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Vocus', 'permalink': 'vocus'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code