# Advanced Querying Mongo

Importing libraries and setting up connection

In [2]:
from pymongo import MongoClient
client = MongoClient()

In [ ]:
db=client.companies

companies = db.companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [23]:
# Your Code

query={'name': 'Babelgum'}

select = {'_id' : 0, 'name': 1}

res = list(companies.find(query, select))

res

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [67]:
# Your Code

query={'number_of_employees': {'$gt': 50000}}

select = {'_id' : 0, 'name': 1, 'number_of_employees': 1}

res = list(companies.find(query, select).limit(20).sort('number_of_employees', -1))

res[:10]

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [66]:
# Your Code
query={'$and': [{'founded_year': {'$gt': 2000}},
       {'founded_year': {'$lt': 2005}}]}

select = {'_id' : 0, 'name': 1, 'founded_year': 1}

res = list(companies.find(query, select))

res[:10]

[{'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002},
 {'name': 'AddThis', 'founded_year': 2004},
 {'name': 'Veoh', 'founded_year': 2004},
 {'name': 'Meetup', 'founded_year': 2002},
 {'name': 'SmugMug', 'founded_year': 2002}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [68]:
# Your Code
query={'$and': [{'ipo.valuation_amount': {'$gt': 100000000}},
       {'founded_year': {'$lt': 2010}}]}

       

select = {'_id' : 0, 'name': 1, 'ipo': 1}

res = list(companies.find(query, select))

res[:3]

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000.0,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [63]:
# Your Code
query={'$and': [{'founded_year': {'$lt': 2005}},
       {'number_of_employees': {'$lt': 1000}}]}

select = {'_id' : 0, 'name': 1, 'founded_year': 1}

res = list(companies.find(query, select).sort('number_of_employees', -1).limit(10))

res[:10]

[{'name': 'Infinera Corporation', 'founded_year': 2000},
 {'name': 'NorthPoint Communications Group', 'founded_year': 1997},
 {'name': '888 Holdings', 'founded_year': 1997},
 {'name': 'Forrester Research', 'founded_year': 1983},
 {'name': 'SonicWALL', 'founded_year': 1991},
 {'name': 'Webmetrics', 'founded_year': 1999},
 {'name': 'Cornerstone OnDemand', 'founded_year': 1999},
 {'name': 'Mozilla', 'founded_year': 1998},
 {'name': 'Buongiorno', 'founded_year': 1999},
 {'name': 'Yelp', 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [62]:
# Your Code
query={'partners': False}

select = {'_id' : 0, 'name': 1, 'founded_year': 1}

res = list(companies.find(query, select))

res[:10]

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [32]:
# Your Code
query={'category_code': None}

select = {'_id' : 0, 'name': 1, 'founded_year': 1}

res = list(companies.find(query, select))

res[:10]

[{'name': 'Collective', 'founded_year': None},
 {'name': 'Snimmer', 'founded_year': None},
 {'name': 'KoolIM', 'founded_year': None},
 {'name': 'Level9 Media', 'founded_year': None},
 {'name': 'VidKing', 'founded_year': None},
 {'name': 'Drigg', 'founded_year': None},
 {'name': 'SpaceTime', 'founded_year': None},
 {'name': 'Touch Clarity', 'founded_year': None},
 {'name': 'MMDAYS', 'founded_year': None},
 {'name': 'Inside Group', 'founded_year': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [37]:
# Your Code
query={'$and': [
    {'number_of_employees': {'$gte': 100}},
    {'number_of_employees': {'$lt': 1000}}
    ]}

select = {'_id' : 0, 'name': 1, 'number_of_employees': 1}

res = list(companies.find(query, select))

res[:10]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110},
 {'name': 'Livestream', 'number_of_employees': 120},
 {'name': 'Ustream', 'number_of_employees': 250},
 {'name': 'iContact', 'number_of_employees': 300},
 {'name': 'Yelp', 'number_of_employees': 800},
 {'name': 'Dailymotion', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [48]:
# Your Code

query = ''

select = {'_id' : 0, 'name': 1, 'ipo.valuation_amount': 1}

res = list(companies.find(query, select).sort('ipo.valuation_amount', -1))

res[:10]

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000.0}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000.0}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000.0}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000.0}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000.0}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000.0}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000.0}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000.0}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000.0}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000.0}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [61]:
# Your Code
query = ''

select = {'_id' : 0, 'name': 1, 'number_of_employees': 1}

res = list(companies.find(query, select).sort('number_of_employees', -1).limit(10))

res[:10]

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [52]:
# Your Code

# according to a user of quora '2nd semester starts from January (1st week ) and end in May (2nd week).'

query = {'founded_month': {'$lte': 5} }

select = {'_id' : 0, 'name': 1, 'founded_month': 1}

res = list(companies.find(query, select))

res[:10]

[{'name': 'Facebook', 'founded_month': 2},
 {'name': 'Twitter', 'founded_month': 3},
 {'name': 'StumbleUpon', 'founded_month': 2},
 {'name': 'Gizmoz', 'founded_month': 1},
 {'name': 'Helio', 'founded_month': 2},
 {'name': 'Babelgum', 'founded_month': 3},
 {'name': 'Yahoo!', 'founded_month': 1},
 {'name': 'OpenX', 'founded_month': 5},
 {'name': 'Mahalo', 'founded_month': 3},
 {'name': 'Meetup', 'founded_month': 1}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [60]:
# Your Code
query = {'$and': [{'founded_year': {'$lt': 2000}} , {'acquisition.price_amount': {'$gt': 10_000_000}}]}

select = {'_id' : 0, 'name': 1, 'acquisition.price_amount': 1}

res = list(companies.find(query, select))

res[:10]

[{'name': 'Postini', 'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep', 'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar', 'acquisition': {'price_amount': 25000000}},
 {'name': 'PayPal', 'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish', 'acquisition': {'price_amount': 300000000}},
 {'name': 'Neopets', 'acquisition': {'price_amount': 160000000}},
 {'name': 'Sun Microsystems', 'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Zappos', 'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba', 'acquisition': {'price_amount': 1000000000}},
 {'name': 'Sabre', 'acquisition': {'price_amount': 4300000000.0}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code
query = {'$and': [{'founded_year': {'$lt': 2000}} , {'acquisition.price_amount': {'$gt': 10_000_000}}]}

select = {'_id' : 0, 'name': 1, 'acquisition.price_amount': 1}

res = list(companies.find(query, select))

res[:10]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [71]:
# Your Code
query = ''

select = {'_id' : 0, 'name': 1, 'founded_year': 1}

res = list(companies.find(query, select).sort('founded_year', -1))

res[:10]

[{'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [76]:
# Your Code
query = {'founded_month': {'$lte': 7}}

select = {'_id' : 0, 'name': 1, 'acquisition.price_amount': 1}

res = list(companies.find(query, select).sort('acquisition.price_amount', -1).limit(10))

res

[{'name': 'Sun Microsystems', 'acquisition': {'price_amount': 7400000000.0}},
 {'name': 'Siebel Systems', 'acquisition': {'price_amount': 5850000000.0}},
 {'name': 'Netscape', 'acquisition': {'price_amount': 4200000000.0}},
 {'name': 'SuccessFactors', 'acquisition': {'price_amount': 3400000000.0}},
 {'name': 'YouTube', 'acquisition': {'price_amount': 1650000000}},
 {'name': 'Zappos', 'acquisition': {'price_amount': 1200000000}},
 {'name': 'Meraki', 'acquisition': {'price_amount': 1200000000}},
 {'name': 'Tumblr', 'acquisition': {'price_amount': 1100000000}},
 {'name': 'Alibaba', 'acquisition': {'price_amount': 1000000000}},
 {'name': 'Kiva Systems', 'acquisition': {'price_amount': 775000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [79]:
# Your Code
query = {'$and':[{'category_code': 'web'}, {'number_of_employees': {'$gt': 4000}}]}

select = {'_id' : 0, 'name': 1, 'category_code': 1, 'number_of_employees': 1}

res = list(companies.find(query, select).sort('acquisition.price_amount', -1).limit(10))

res[:10]

[{'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [81]:
# Your Code
query = {'$and':[{'acquisition.price_amount': {'$gt': 10_000_000}}, {'acquisition.price_currency_code': 'EUR'}]}

select = {'_id' : 0, 'name': 1, 'acquisition.price_amount': 1, 'acquisition.price_currency_code': 1}

res = list(companies.find(query, select).sort('acquisition.price_amount', -1).limit(10))

res[:10]

[{'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [83]:
# Your Code
query = {'acquisition.acquired_month': {'$lt': 4}}

select = {'_id' : 0, 'name': 1, 'acquisition': 1}

res = list(companies.find(query, select).limit(10))

res[:1]

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code